/**
    BASIC GLOBAL STYLES
*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #0e1f4f
}

h1 {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}