.main-footer {
    background-color: black;
    padding: 32px;
    border: none;
}

.main-footer__links {
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.footer-anchor {
    color: white;
}

.footer-anchor a:hover,a:active {
    color: #ccc;
}